@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Raleway:wght@100&display=swap');

body {
  margin: 0;
  height: 100vh;
  background: url("https://fikiwiki.com/uploads/posts/2022-02/1644855676_21-fikiwiki-com-p-kartinki-khd-kachestva-21.jpg") center/cover;
  font-family: Nunito, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}